<h1><%= t('.heading') %></h1>
<%= render @comment %>
<%= form_with(model: [@post, @post.comments.build], locale: true) do |f| %>
 <%= f.hidden_field :parent_id, value: @comment.id %>
 <div>
   <%= f.text_area :text, placeholder: true, class: 'text_area' %>
 </div>
 <%= f.submit %>
<% end %>