<h1><%= t '.heading' %></h1>

<%= form_with scope: :topic, url: topics_path, local: true do |form| %>
	<% if @topic.errors.any?%>
    <div id="error_explanation">
      <ul>
        <% @post.errors.messages.values.each do |msg| %>
	        <%msg.each do  |m| %>
	          <li><%= m %></li>
	        <%end %>
      	<% end %>
        <% @topic.errors.messages.values.each do |msg| %>
          <%msg.each do  |m| %>
            <li><%= m %></li>
          <%end %>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= form.collection_select :community_id, Community.order(:name),:id,:name, {prompt: t('.select_community')}, {:class=>'collection_select'}%>
    <%= form.text_field :title, placeholder: true %>
    <%= form.text_area :text , {:class=>'text_area'}%>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>