<h1><%= t('new_topic') %></h1>
<% if @topic&.errors&.any? %>
    <ul>
        <% @topic.errors.messages.values.each do |message| %>
            <li><%= message %></li>
        <% end %>
    </ul>
<% end %>
<%= form_with scope: :topic, url: topics_path, local: true do |form| %>
  <div>
    <%= form.collection_select :community_id, Community.order(:name), :id, :name, {prompt: t('.select')} %>
  </div>
  <div>
    <%= form.text_field :title, placeholder: true %>
  </div>
  <div>
    <%= form.text_area :text, placeholder: true %>
  </div>
  <%= form.submit %>
<% end %>
