<h1><%= t '.new_community' %></h1>

<%= form_with scope: :community, url: communities_path, local: true do |form| %>
	<% if @community.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @community.errors.messages.values.each do |msg| %>
	        <%msg.each do  |m| %>
	          <li><%= m %></li>
	        <%end %>
      	<% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= form.text_field :name, placeholder: true %>
  </p>
  <p>
    <%= form.text_area :description, {placeholder: true ,class: 'topic_text_area'}%>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>