<h1><%= t('edit_link') %></h1>
<% if @link&.errors&.any? %>
    <ul>
        <% @link.errors.messages.values.each do |message| %>
            <li><%= message %></li>
        <% end %>
    </ul>
<% end %>
<%= form_with scope: :link, url: link_path(@link), method: :put, local: true do |form| %>
  <div>
    <%= form.url_field :url, placeholder: true %>
  </div>
  <%= form.submit %>
<% end %>
