<%= form_tag posts_path, method: :get do %>
  <%= text_field_tag :search, params[:search], placeholder: t('search_for') %>
  <%= submit_tag t('search') %>
<% end %>
<% if @posts.empty? %>
    <h2>لا توجد مساهمات</h2>
<% else %>
    <% @posts.each do |post| %>
        <h1><%= link_to post.title, [post] %></h1>
        <p><%= post&.topic&.text || post&.link&.url %></p>
        <hr>
    <% end %>
<% end %> 