<% if params[:search] %>
	<h1><%= t 'search_result' %><span><%= params[:search] %></span></h1>
<% else %>
	<h1><%= t '.all_posts' %></h1>
<% end %>
<%= render 'search' %>
<div class="content container">
	<div class="itemsList">
		<% if @posts.empty? %>
			<div class="listItem row">
				<h2><%= t '.nil_posts' %></h2>
			</div>
		<% else %>
			<%= render @posts %>
	  <% end %>
	</div>
</div>
</br>
