<h1><%= @post.title %></h1>
<% if @post&.link %>
<p><%= link_to(@post.link.url, @post.link.url, target: '_blank', rel: 'nofollow noopener noreferrer') %></p>
<% if current_user&.moderator? %>
<%= link_to t('edit_post'), edit_link_path(@post.link) %>
<% end %>
<% else %>
<p><%= @post.topic.text %></p>
<% if current_user&.moderator? %>
<%= link_to t('edit_post'), edit_topic_path(@post.topic) %>
<% end %>
<% end %>

<a href="https://fb.com/sharer/sharer.php?u=https://io.hsoub.com/go/<%= @post.id %>">Facebook</a>

<div>
  <%= link_to t('like'), vote_post_path(@post, type: 'up'), method: :post %>
  <p><%= @post.find_votes_for(vote_scope: 'reputation').sum(:vote_weight) %></p>
  <%= link_to t('dislike'), vote_post_path(@post, type: 'down'), method: :post %>
</div>

<h2><%= t('new_comment') %></h2>
<%= form_with(model: [@post, @comment], locale: true) do |f| %>
 <div>
   <%= f.text_area :text, placeholder: true %>
 </div>
 <%= f.submit %>
<% end %>

<h3>التعليقات</h3>
<%= nested_comments @post.comments.arrange(order: :created_at) %>